@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.page__body {
  min-width: 320px;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.header__container {
  padding-top: 13px;
  padding-bottom: 14px;
}

.site-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation__item {
  display: flex;
  justify-content: center;
}

.site-navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
}

.title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

.title--hero {
  color: #ffffff;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/cat-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
}

.hero__slogan {
  margin: 0 auto 29px;
  width: 198px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.hero__button {
  margin-bottom: 20px;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  width: 280px;
  padding: 10px 63px;
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button--show-all {
  background-color: #f2f2f2;
  color: #444444;
}

.programs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.programs__card {
  padding: 30px 20px 18px;
  background-color: #f2f2f2;
}

.programs__card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0 0 29px;
}

.programs__card-text {
  line-height: 1.29;
  color: #444444;
  margin: 0 0 38px;
}

.programs__card-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.steps__title {
  line-height: 1.11;
  margin-bottom: 40px;
}

.steps__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.steps__text {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1.29;
  color: #444444;
}

.example__container {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}

.example__title {
  line-height: 1.11;
  margin-bottom: 40px;
}

.example__case {
  line-height: 1.29;
  color: #444444;
  margin: 0 0 20px;
}

.example__desc {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.example__desc-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example__desc-term {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
}

.example__desc-meaning {
  margin: 0;
  font-size: 12px;
  font-family: "Lato", "Arial", sans-serif;
}

.example__spendings {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  line-height: 1.43;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.example__picture-wrapper {
  display: flex;
  justify-content: center;
}

.example__toggle {
  margin: 0 auto;
  display: block;
}

.contacts__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper--change-background {
  background-color: #f2f2f2;
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  width: 140px;
  margin: 0;
  line-height: 1.43;
  color: #444444;
}

.contacts__picture-wrapper {
  display: flex;
}

.contacts__map {
  flex-grow: 1;
  object-fit: cover;
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 20px 74px;
  width: 280px;
}

.copyright__wrapper {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.copyright__logo {
  margin-bottom: 20px;
}

.copyright__socials {
  margin-bottom: 20px;
}

.copyright__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__text {
  font-size: 16px;
  line-height: 1.25;
  color: #444444;
  text-decoration: none;
}

.form {
  padding-top: 27px;
  padding-bottom: 32px;
}

.form__title {
  width: 260px;
  margin: 0 auto 37px;
}

.form__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  width: 226px;
  line-height: 1.29;
  text-transform: uppercase;
  margin: 0 auto 39px;
}

.cat-info {
  max-width: 320px;
  margin: 0 auto;
}

.cat-info__group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.cat-info__group--about-cat {
  padding: 0 20px 24px;
  gap: 14px;
}

.cat-info__group--program {
  padding: 22px 20px 19px;
  gap: 13px;
}

.cat-info__group--contact {
  padding: 0 20px 24px;
  gap: 14px;
}

.cat-info__group--comment {
  padding: 0 20px 23px;
}

.cat-info__group--add {
  padding: 0 20px 34px;
  gap: 13px;
}

.cat-info__title {
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
}

.cat-info__title--contact {
  width: 187px;
  padding-top: 26px;
  margin-bottom: 35px;
}

.cat-info__title--comment {
  width: 121px;
  padding-top: 24px;
  margin-bottom: 38px;
}

.cat-info__title--add {
  margin-bottom: 34px;
}

.cat-info__button {
  display: block;
  margin: 0 auto 21px;
}

.cat-info__text {
  width: 154px;
  margin: 0 auto;
  line-height: 1.14;
}

.input {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
}

.input__label {
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
}

.input__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 15px 13px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
}

.input__label--about-cat {
  margin-right: 13px;
}

.input__label--program {
  margin-left: 15px;
}

.input__label--contact {
  margin-right: 13px;
}

.input__label--add {
  margin-left: 15px;
}

.input__text--comment {
  border: 1px solid #e7e7e7;
  resize: none;
  min-height: 150px;
  padding: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #444444;
}

.logo {
  display: flex;
  text-decoration: none;
}

.logo__img {
  margin-right: 56px;
}

.catalog {
  padding-top: 27px;
  padding-bottom: 24px;
}

.catalog__title {
  margin-bottom: 41px;
}

.catalog__main-text {
  font-family: "Oswald", "Arial", sans-serif;
  width: 205px;
  margin: 0 auto 8px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
}

.catalog__secondary-text {
  width: 224px;
  margin: 0 auto 21px;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}

.catalog__button {
  display: block;
  margin: 0 auto;
}

.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}

.cards__item {
  padding-top: 20px;
  padding-bottom: 25px;
}

.cards__wrapper {
  display: flex;
  align-items: start;
  margin-bottom: 17px;
}

.cards__image {
  max-width: 140px;
  height: 107px;
}

.cards__title {
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  width: 95px;
}

.cards__description {
  margin: 0;
  width: 140px;
}

.cards__description-wrapper {
  display: flex;
  justify-content: space-between;
}

.cards__term,
.cards__meaning {
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}

.cards__meaning {
  margin: 0;
}

.extra-goods {
  padding-top: 25px;
  padding-bottom: 35px;
}

.extra-goods__title {
  margin: 0 0 36px;
  width: 226px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.extra-goods__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 32px;
}

.extra-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
}

.extra-goods__item-title {
  margin: 0 0 13px;
  width: 130px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
}

.extra-goods__description {
  margin: 0 0 15px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.extra-goods__meaning {
  color: #444444;
}

.extra-goods__present {
  min-height: 290px;
  margin: 0 auto;
  background-image: url("../../img/cat-background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.extra-goods__text {
  margin: 0 auto 0;
  padding-top: 186px;
  width: 161px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */